---
title: Other Programs
heading: Our Other Programs
description: What we offer that's just a little different!
faq:
  - question: 'FAQ #1'
    answer: 'FAQ Answer #1'
  - question: 'FAQ #2'
    answer: 'FAQ Answer #2'
  - question: 'FAQ #3'
    answer: 'FAQ Answer #3'
  - question: 'FAQ #4'
    answer: 'FAQ Answer #4'
---

<div class="otherprograms">
    <p>Why not think of joining a small group of high schoolers for a 10 night  visit to France. Three glorious days in Paris, and 7 in the idyllic countryside of lower Normandy. Visit the Loire Valley, D Day beaches, loads of châteaux (medieval and Renaissance) , Roman ruins, Renaissance art and architecture, museums, school, farm, shopping, and on and on.The 7 days in the countryside will be in an 18th century mansion.</p>
    <p>The cost is $1950 PLUS airfare, and this covers about everything: all accommodation (including three nights in Paris), all transportation within France; all meals (except Paris…to allow choice), all entrance fees into sites; and travel insurance.</p>
</div>

<h2>Parlez-Vous English?</h2>
<div class="cta button center-text"><a href="/summerschoolprograms/">Inscrivez-vous!</a></div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
