---
title: Parlez-vous English?
heading: Programs for French Students
description: >-
  Nos cours d'anglais pour ados ou adultes offrent une ambiance conviviale et
  amusante. Petits groupes; 

  Prochains cours: vacances scolaires d'été 2021. 

  Contactez-nous pour les détails.
faq:
  - question: 'FAQ #1'
    answer: 'FAQ Answer #1'
  - question: 'FAQ #2'
    answer: 'FAQ Answer #2'
  - question: 'FAQ #3'
    answer: 'FAQ Answer #3'
  - question: 'FAQ #4'
    answer: 'FAQ Answer #4'
---

<div class="otherprograms center-text">
    <p>Nos cours d’anglais commenceront en mars, 2020. Ados ou adultes?  Inscrivez-vous!</p>
    <p>Après les cours, ou le soir.</p>
    <p>Ambiance conviviale et amusante.</p>
</div>
<div class="cta button center-text"><a href="/contact/">Inscrivez-vous!</a></div>

<!--
{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %} -->
