---
title: Summer School Programs
heading: Our Summer School Programs
description: |-
  What's included, pricing, and more!
  HUGE PRICE CUT! $1000 OFF, SEE BELOW.
picture_url: /uploads/IMG_7363_opt
pricing_table:
  - name: Included In Trip
    color: '#646464'
    features:
      - text: 20 nights accommodation (including 3 nights Paris)
        highlight: false
      - text: All tuition and instruction
        highlight: false
      - text: 'Breakfast, Lunch, and Dinner*'
        highlight: false
      - text: Transportation to and from the airport in Paris**
        highlight: false
      - text: All books and materials for the course
        highlight: false
      - text: 'Guest Presentations, Workshops, and Field Trips'
        highlight: false
      - text: Laundry Facilities
        highlight: false
      - text: >-
          All cultural and social activities organized by Live and Learn, Inc
          (including sports, excursions, museum and gallery admissions)
        highlight: false
    call_to_action:
      link: 'https://summerschoolfrance.com/contact/'
      text: Contact Us to Get Started
faq:
  - question: How can this trip enhance my résumé?
    answer: >-
      Even if our world hadn't closed down with a pandemic, this trip would
      already be a great way to enhance a résumé. Whether you are going to be
      applying for college, or a job, a trip like this will pique the interest
      in your application. Why? An college or future employer is looking for
      evidence of (amongst other things) how responsible you have become, how
      you work with others, if you show initiative, have you been exposed to
      different cultures, people and ideologies. In our summer school programs,
      you will be working with others both in the classroom, and in the living
      arrangements. You will be cooperating with others to perform tasks. You
      will be responsible for certain activities. You will meet French people of
      your own age, and your elders, and you will be exposed to  their point of
      view and their culture in a way that would be impossible if you remained
      at home. Many educational institutions and employers today are looking for
      evidence of global learning. How better to show that you have this, than
      to enjoy our summer program. For students successfully completing the
      programs, we will be willing to write a letter of recommendation that
      clearly shows that our students have developed responsibility, have shown
      initiative, have worked well with others, have been exposed to other
      cultures in a personal way.
  - question: 'FAQ #2'
    answer: 'FAQ Answer #2'
  - question: 'FAQ #3'
    answer: 'FAQ Answer #3'
  - question: 'FAQ #4'
    answer: 'FAQ Answer #4'
---

<div class="courses">
    <div class="editable">
    	<p>Our school is at:</p>
    	<p>1 rue Perrine</p>
    	<p>53440 La Chapelle au Riboul</p>
    	<p>France</p>
    	<p>(link below)</p>
    	<p><a href="https://www.google.com/maps/place/1+Rue+Perrine,+53440+La+Chapelle-au-Riboul,+France/@48.3185199,-0.4365779,17z/data=!3m1!4b1!4m5!3m4!1s0x4809bc09d3ce9d2d:0x2ac7b361cc0b397f!8m2!3d48.3185199!4d-0.4343892">...</a></p>
    </div>
    <div class="editable">
    	<h3>July 10-30, 2021:</h3>
    	<p>Highlights of French History (3 credits)</p>
    	<p>Mass Media: Recording Tomorrow's History (3 credits)</p>
    	<p>Introduction to French Culture. (1 credit)</p>
    	<p>Renaissance and Reformation.</p>
    	<p>MONEY-BACK GUARANTEE</p>
    	<p>IF CANCELATION BECOMES NECESSARY DUE TO COVID 19</p>
    </div>
</div>

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

<div class="container price_callout editable">
	<p>ALL THIS FOR $3,700 PLUS AIRFARE!</p>
</div>
<div style="width:100%;height:20px;clear:both;"></div>
<div class="container editable">
	<h3>Exceptions</h3>
	<ul>
		<li>Price does not include personal expenditures, i.e. snacks, souvenirs, and so on.</li>
		<li>Transportation is provided from the airport&nbsp; in Paris IF you are part of a group arriving together. If you are arriving separately, there will be a $250 surcharge.</li>
		<li>Lunches and dinners in Paris are at your own expense (3 lunches and 3 dinners).</li>
	</ul>
</div>

<!--
{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %} -->
