---
title: Summer School Programs
heading: Our Summer School Programs
description: 'What''s included, pricing, and more!'
pricing_table:
  - name: Included In Trip
    color: '#646464'
    features:
      - text: Airfare from Los Angeles to Paris with the group
        highlight: false
      - text: 21 nights accommodation (including 3 nights Paris)
        highlight: false
      - text: All tuition and instruction
        highlight: false
      - text: 'Breakfast, Lunch, and Dinner*'
        highlight: false
      - text: Transportation to and from the airport**
        highlight: false
      - text: All books and materials for the course
        highlight: false
      - text: 'Guest Presentations, Workshops, and Field Trips'
        highlight: false
      - text: Laundry Facilities
        highlight: false
      - text: >-
          All cultural and social activities organized by Live and Learn, Inc
          (including sports, excursions, museum and gallery admissions)
        highlight: false
    call_to_action:
      link: 'https://summerschoolfrance.com/contact/'
      text: Contact Us to Get Started
  - name: Exceptions
    color: '#1a1a1a'
    features:
      - text: '*Lunch/Dinner in Paris At Own Expense, 3 of each.'
        highlight: false
      - text: >-
          **Transportation is provided from the airport IF you are part of a
          group arriving together. If you arrive separately, there will be a
          $250 surcharge.
        highlight: false
      - text: >-
          DOES NOT INCLUDE  PERSONAL EXPENDITURES, SUCH AS SNACKS, SOUVENIRS,
          AND SO ON.
        highlight: false
    call_to_action:
      link: /contact/
      text: Questions? Contact us.
faq:
  - question: 'FAQ #1'
    answer: 'FAQ Answer #1'
  - question: 'FAQ #2'
    answer: 'FAQ Answer #2'
  - question: 'FAQ #3'
    answer: 'FAQ Answer #3'
  - question: 'FAQ #4'
    answer: 'FAQ Answer #4'
---

<div class="container courses">
    <dl class="editable">
        <dt>June 10-30:</dt>
        <dd>Highlights of French History (3 credits)</dd>
        <dd>Mass Media: Recording Tomorrow's History (3 credits)</dd>
        <dd>Introduction to French Culture. (1 credit)</dd>
    </dl>
    <dl class="editable">
        <dt>July 7-27:</dt>
        <dd>Renaissance and Reformation in Europe (3 credits)</dd>
    </dl>
</div>

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
