<div id="image-gallery-set">
    
</div>
<script>
$( document ).ready(function() {
if ($("html").hasClass("webp")) {
   $('#image-gallery-set').append('<div class="image-gallery"> {% for image in site.data.gallery %} {% if image.image_path.extname == '.webp' or image.image_path.extname == '.WEBP' %} {% assign filenameparts = image.image_path | split: "/" %} {% assign filename = filenameparts | last | replace: image.image_path.extname,"" %} <a href="{{ image.image_path }}" title="{{ filename }}"> <div class="gallery-item"> <img class="gallery-image" src="https://ahechdcldm.cloudimg.io/crop/200x200/webp/{{ site.url | replace: \'https://\',\'http://\' }}{{ image.image_path }}" alt="{{ filename }}" title="{{ filename }}" /> </div> </a> {% endif %} {% endfor %} </div>');
} else {
   $("#image-gallery-set").append('<div class="image-gallery"> {% for image in site.data.gallery %} {% if image.image_path.extname == '.jpg' or image.image_path.extname == '.JPG' %} {% assign filenameparts = image.image_path | split: "/" %} {% assign filename = filenameparts | last | replace: image.image_path.extname,"" %} <a href="{{ image.image_path }}" title="{{ filename }}"> <div class="gallery-item"> <img class="gallery-image" src="https://ahechdcldm.cloudimg.io/crop/200x200/webp/{{ site.url | replace: \'https://\',\'http://\' }}{{ image.path }}" alt="{{ filename }}" title="{{ filename }}" /> </div> </a> {% endif %} {% endfor %} </div>');
}
});
</script>