---
layout: default
---
<div class="content">
    <section class="page">
        <div class="container {% if page.full_width %}max-container{% endif %}">
                {% if page.heading and page.picture_url %}
                <div style="position:relative;text-align:center;color:white;">
                    <picture>
                        <source class="screenshot" srcset="{{ page.picture_url }}.webp" type="image/webp">
                        <source class="screenshot" srcset="{{ page.picture_url }}.jpg" type="image/jpeg">
                        <img style="height:200px;width:100%;object-fit:cover;object-position: 0 50%;-webkit-filter:brightness(70%);border-radius:2px;" class="screenshot" src="{{ page.picture_url }}.jpg" />
                    </picture>
                    <div style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;">
                        <h2 style="margin: 0 20px;">{{ page.heading }}</h2> 
                        {% if page.description %}
                            <p class="subtext_white">{{ page.description }}</p>
                        {% endif %}
                    </div>
                </div>
                {% elsif page.heading %}
                    <h2>{{ page.heading }}</h2> 
                    {% if page.description %}
                        <p class="subtext">{{ page.description }}</p>
                    {% endif %} 
                {% elsif page.title and page.layout != 'archive' %}
                    <h2>{{ page.title }}</h2> 
                    {% if page.description %}
                        <p class="subtext">{{ page.description }}</p>
                    {% endif %} 
                {% endif %}
            {{ content }}
        </div>
    </section>
</div>